@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_NaoLogado.cshtml";

}

<div class="jumbotron">
    <h1>Plennus Habitação</h1>
    <p class="lead">Bem vindo ao sistema de gerenciamento habitacional do Grupo Plennus.</p>
    <p><a href="http://plennusconsultoria.com.br" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Associações, Cooperativas e Sindicatos</h2>
        <p>
            Com o sistema Plennus Habitação você consiguira manter um cadastro atualizado de todos os associados, com um layout que atende há todos os programas habitacionais nacional.
        </p>
        <p><a class="btn btn-default" href="http://plennusconsultoria.com.br/AssessoriaConsultoriaImobiliaria">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Area de atuação e principais clientes</h2>
        CONSULTORIA E ASSESSORIA IMOBILIARIA<br />

        <p>Desde 2011 presta assessoria e consultoria no desenvolvimento dos projetos construtivo do Minha Casa Minha Vida Entidades - MCMV-E</p>
        <p><a class="btn btn-default" href="http://plennusconsultoria.com.br/AreaAtuacao">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Assessoria e Consultoria</h2>
        <p>Nosso grupo atende as mais diversas necessidades para criação, captação de recursos e gestão de projetos habitacionais, entre em contato e agende uma reunião.</p>
        <p><a class="btn btn-default" href="http://plennusconsultoria.com.br/AreaAtuacao">Leia mais &raquo;</a></p>
    </div>
</div>